.df {
  display: flex;
  justify-content: space-between;
  text-align: center;

  padding-top: 50px;

  & h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;

    display: flex;
    align-items: center;
  }

  & h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

    display: flex;
    align-items: center;
  }
}


